@import "swiper/swiper.min.css";
@import "swiper/css/pagination";

body {
  height: 100vh;
}

body img {
  /*width: 100%;*/
  /*height: auto;*/
  border-radius: 4px;
}

body .swiper {
  width: 100%;
  padding: 1px;
  border-radius: 4px;
  z-index: 0;
}

body .swiper-slide {
  display: flex;
  justify-content: center;
}
